<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" manifest="/manifest.appcache">
<head>
    <title>Tooted</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body>
<h2>Nimekiri toodetest</h2>

<table id="tabel">
    <tr>
        <th>Id</th>
        <th>Nimi</th>
        <th>Hind</th>
    </tr>

    <tr th:each="toode : ${tooted}">
        <td th:text="${toode.id}">Id</td>
        <td th:text="${toode.nimi}">Nimi</td>
        <td th:text="${toode.hind}">Hind</td>
    </tr>
</table>

<a href="/form">Lisa tooteid juurde</a>

</body>
</html>